In [12]:
data = [1,2,3,4,5]
print(data)
data=iter(data)
print(data)
print(next(data))
print(next(data))
test = list(data)
test

[1, 2, 3, 4, 5]
<list_iterator object at 0x0000019510A567F0>
1
2

[3, 4, 5]

In [14]:
#Break a list into chunks of size N in Python
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
n = 4 
# using list comprehension 
final = [my_list[i * n:(i + 1) * n] for i in range((len(my_list) + n - 1) // n )]  
print (final)

[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

In [18]:
import pandas as pd
dataset = pd.read_csv("https://raw.githubusercontent.com/yashbhutoria/PCE-CS-III-ML-Club/master/Data%20Sets/Assignment5.csv" ,names = ['employee', 'works_under'])
dataset

  employee works_under
0      Ram       Shyam
1    Shyam       Harry
2    Harry        Lucy
3     Lucy        Shiv
4     Shiv        Shiv
5     Jake        Hana
6     Hana       Beast
7    Beast       Beast
8    Shady       Shady
9      Nox         Nox

In [19]:
mydict = dict(zip(dataset.employee,dataset.works_under))
mydict

{'Ram': 'Shyam',
 'Shyam': 'Harry',
 'Harry': 'Lucy',
 'Lucy': 'Shiv',
 'Shiv': 'Shiv',
 'Jake': 'Hana',
 'Hana': 'Beast',
 'Beast': 'Beast',
 'Shady': 'Shady',
 'Nox': 'Nox'}

In [25]:
from functools import reduce
def foo(x1, x2):
    print(x1 + x2)
    return x1 + x2
reduce(foo, [1, 2, 3, 4])

3
6
10

10

In [28]:
import numpy as np
x = np.array([1,2,3,4,5,6,7,8,9])
def rms(x):
    return np.sqrt(np.mean(x**2))

rms(x)

5.627314338711377